.container{
  height: 300px;
  width: 100%;
  border-top: 1px solid black;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px;
}

.text-area{
  padding: 5px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  
}

.text-area:focus{
  outline: none;
}

.button{
  border: none;
  margin-left: auto;

}